---
import '../styles/global.css'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro with PostCSS</title>
	<script async defer src="https://unpkg.com/cqfill"></script>
</head>

<body>
	<h1>Astro with PostCSS</h1>

	<div class="test-wrapper" style="width: 320px">
		<div class="card">
			<div class="card__thumb"></div>
			<div class="card__content">
				<h3 class="card__title">
					Inspect Element As A Way To Feed Your Curiosity
				</h3>
				<p class="card__desc">
					One of the best gifts we have as front-end developers is inspect
					element.
				</p>
			</div>
		</div>
	</div>

	<div class="note">
		<p>This is a demo from the <a href="http://ishadeed.com/article/say-hello-to-css-container-queries/">container queries</a> article by Ahmad Shadeed</p>
	</div>
</body>

</html>
